@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins';
    margin: 0;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    border-bottom: 1px solid lightgray;
}
nav{
    width: 600px;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;

}
nav a {
    text-decoration: none;
    color: black;
}
.blackHeart {
    width: 20px;
    margin-right: 1rem;
}

.brand {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 25px;
    border-bottom: 1px solid lightgray;
}

.npm-logo {
    width: 70px;
}

.search-form {
    display: flex;
    flex: 1;
    background-color: rgba(0, 0, 0, .05);
}

.search-icon {
    width: 20px;
    height: 20px;
    margin: 15px;
}

.search-form input {
    flex: 1;
    border: none;
    background-color: rgba(0, 0, 0, .05);
    padding: 15px;
    font-size: 16px;
}

.search-form button {
    border: none;
    background-color: #fb3e44;
    color: white;
    padding: 0 25px;
    font-weight: bold;
}

.join-btn {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
}

.login-link {
    text-decoration: none;
    color: black;
}

#section1 {
    height: 600px;
    background-color: rgba(232, 217, 217, .3);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}
#section1 h1 {
    font-size: 70px;
    font-weight: bold;
    margin: 0;
}

#section1 p {
    width: 600px;
    margin: 40px 0;
}
#section1 a {
    text-decoration: none;
    margin: 0 20px;
    padding: 15px 35px;
    font-weight: bold;
}
.see-plans {
    background-color: #FB3B49;
    color: white;
    box-shadow: 8px 8px 0 rgba(251, 59, 73, .2);
}

.join-free {
    background-color: white;
    color: black;
}

#section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding: 100px 20px;
}

#section2 img {
    width: 200px;
    margin-bottom: 40px;
}

#section2 h2 {
    font-size: 35px;
    background-color: rgba(255, 204, 53, .4);
    padding: 0 10px;
    font-style: italic;

    transform: skew(9deg, 0deg);
}

#section2 p {
    width: 700px;
    max-width: 90%;
    margin: 30px 0;
}

#section2 a {
    text-decoration: none;
    color: white;
    background-color: black;

    padding: 15px 35px;
    font-weight: bold;
}

#section3 {
    padding: 100px 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.features {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.features > div {
    width: 22%;
}
.features img {
    width: 40px;
}
.features h3 {
    color:#ed1c24
}
.create-org {
    margin-top: 60px;
    padding: 15px 80px;

    background-color: black;
    color: white;

    text-decoration: none;
    font-weight: bold;

    box-shadow: 8px 8px 0 rgba(128, 83, 35, .2);
}